<main class="main" *ngIf="!(isLoading$ | async)">
  <div class="header">
    <h1>Patron Presenter</h1>
    <nav>
      <a routerLink="#" routerLinkActive="active">Users</a>
      <a routerLink="#" routerLinkActive="active">Posts</a>
      <a routerLink="#" routerLinkActive="active">Comments</a>
    </nav>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>
<ng-container  *ngIf="isLoading$ | async">
  <ng-container *ngComponentOutlet="currentComponent"></ng-container>
</ng-container>
